body {
    font-family: Arial, sans-serif; /* font */
    margin: 0;
    padding: 0;
    background-image: url('../slike/pozadina.png'); /* pozadinska slika */
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.9); /* prozirnija slika */
}

header { /* uređenje zaglavlja */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color:navy;
    padding: 1rem;
}

.logo img{ /* Uređenje loga */
    width: 200px;
}

.linija{  /* razdvojna linija između nekih sekcija */
    width: 100%;
    height: 5px;
    background-color: navy;
}

nav ul {  /* Izbornik */
    list-style-type: none;
    display: flex;
    gap: 20px; /* Razmak između stavki izbornika */
    justify-content: flex-end; /* Horizontalno poravnanje stavki izbornika */
    padding-right: 20px; /* Dodaje padding s desne strane */
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none; /* uklonjen underline na hipervezama */
    color: navy;
    font-size: 1.4rem;

}

.mobile-menu { /* ponašanje padajućeg izbornika */
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.glavna{
    position: relative;
    width: 100%;
    height: auto;
}

.tekst-iznad-videa{ /* pozicija teksta za slogan */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.nasl1 {  /* izgled teksta slogana */
    margin: 0;
    padding: 0;
    font-size: 3vw; /* veličina teksta proporcionalna širini prikaznog prozora */
    text-shadow: 2px 2px 4px black;
}

.usluge {  /* sekcija za slike sa uslugama */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.usluga {  /* pozicioniranje i veličina svake slike za usluge */
    flex: 1 1 calc(25% - 20px); /* Osigurava da najviše 4 slike idu u jedan red */
    max-width: calc(25% - 20px); /* Osigurava da najviše 4 slike idu u jedan red */
    min-width: 200px; /* Minimalna širina slike */
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.usluga-img {  /* uređivanje slike za svaku uslugu */
    box-shadow: 0 4px 8px grey; /* sjena iza slike */
    transition: box-shadow 0.3s ease-in-out; /* glatko pojavljivanje sjene kad se pređe mišem */
    border-radius: 5%;
    width: 375px; 
}

.usluga-img:hover {
    box-shadow: 0 8px 16px darkgrey; /* sjena kad se pređe mišem */
}

footer {  /* uređenje podnožja */
    background-color: white;
    color: navy;
    text-align: center;
    width: 100%;
}

.social-icon{ /* ikone za društvene mreže */
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
}

footer .social-icons a {
    text-decoration: none; /* maknut underline ispod slika sdruštvenih mreža */
}

.center-text { /* centriran tekst naslova sekcija */
    text-align: center;
    color: royalblue;
    text-shadow: 1px 1px 1px darkgrey;
    font-size: 2rem;
}

.recenzije-korisnika { /* uređenje plavog okvira kod recenzija korisnika */
    position: relative;
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
    background-color: royalblue;
    padding: 20px;
    box-shadow: 0 4px 8px black;
    border-radius: 10px;
    display: flex;
    justify-content: center; /* horizontalno centriranje */
    align-items: center; /* vertikalno centriranje */
    
}

.text-page {  /* uređenje bijelog boxa kod recenzija */
    display: none;
    padding: 40px;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
    text-align: center;
}

.text-page.active {
    display: block;
}

.prev, .next { /* uređenje strelica za listanje recenzija */
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: navy;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.prev { /* pozicija lijeve strelice */
    right: 94%;
    color: white;
}

.next { /* pozicija desne strelice */
    left: 94%;
    color: white;
}

.prev:hover, .next:hover { /* promjena strelice kad se pređe mišem */
    background-color: grey;
    color: white;
}

@media (max-width: 768px) {  /* media query za manje zaslone za padajući izbornik */
    nav ul {
        display: none;
        flex-direction: column;
        width: 30%;
        background-color: white;
        position: absolute;
        top: 60px;
        right: 0;
        padding: 10px 20px;
        margin: 0;
        z-index: 1000;  /* izbornik iznad drugih elemenata */
        box-shadow: 0 4px 8px black;
    }

    nav ul.active {
        display: flex;
    }

    .mobile-menu {
        display: block;
    }
}

@media (max-width: 1530px) {   /* media query za manje zaslone za usluge na indexu */
    .usluga {
        flex: 1 1 calc(33.33% - 20px); /* 3 slike u jednom redu */
        max-width: calc(33.33% - 20px);
    }
    .usluga-img {
        width: 100%;
        max-width: 300px;
    }
    .logo img{
        width: 250px;
        max-width: 100%;
    }
}

@media (max-width: 1150px) {
    .usluga {
        flex: 1 1 calc(50% - 20px); /* 2 slike u jednom redu */
        max-width: calc(50% - 20px);
    }
    .usluga-img {
        width: 100%;
        max-width: 600px;
    }
    .logo img{
        width: 200px;
        max-width: 100%;
    }
}

@media (max-width: 770px) {
    .usluga {
        flex: 1 1 100%; /* 1 slika u jednom redu */
        max-width: 100%;
    }
    .usluga-img {
        width: 100%;
        max-width: 400px;
    }
    .logo img{
        width: 150px;
        max-width: 100%;
    }
}

@media (max-width: 1000px) {   /* media query za manje zaslone za recenzije */
    .recenzije-korisnika {
        width: 80%;
        padding: 20px;
    }
    .text-page {
        padding: 20px;
        font-size: 1rem;
        max-width: 90%;
    }
    .prev, .next {
        padding: 10px;
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .recenzije-korisnika {
        width: 90%;
        padding: 10px;
    }
    .text-page {
        padding: 10px;
        font-size: 0.7rem;
        max-width: 80%;
    }
    .prev, .next {
        padding: 8px;
        font-size: 0.8rem;
    }
}


/* ------------------------------- USLUGE ------------------------------------ */


.usluge-lista { /* postavljanje boxova za usluge */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.usluga-usluga { /* namještanje boxa za usluge zasebno */
    display: flex; /* tip boxa za sliku pored teksta */
    flex-direction: row; /*  podnaslov, paragraf i btn u redove */
    align-items: center; /* centrira sliku i tekst */
    flex: 1 1 calc(40% - 20px); /* osigurava da najviše 2 boxa idu u jedan red */
    max-width: calc(50% - 20px); /* svaki box zauzima najviše pola stranice po širini kad su 2 u redu */
    min-width: 200px;
    box-sizing: border-box; /* ponašanje širine i visine boxa */
    padding: 20px;
    margin: 10px;
    text-align: left;
    background-color: azure;
    border-radius: 10px;
    box-shadow: 0 4px 8px grey;
}

@media (max-width: 1150px) { /* media query za manje zaslone za boxove usluga */
    .usluga-usluga {
        flex: 1 1 calc(50% - 20px); /* 2 boxa u jednom redu */
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 770px) {
    .usluga-usluga {
        flex: 1 1 100%; /* 1 box u jednom redu */
        max-width: 100%;
    }
}

.usluga-usluga-img { /* veličina slike u boxu */
    width: 250px;
    height: auto;
    margin-right: 20px; 
}

.usluga-usluga p { /* paragraf u boxu usluga */
    font-size: 1rem;
    color: navy;
}

.usluga-usluga h3{ /* naslov u boxu usluga */
    margin: 10px 0;
    font-size: 1.5rem;
    color: royalblue;
}

.usluga-oblik-boxa {  /* naslov, paragraf i btn u stupac */
    display: flex;
    flex-direction: column;
}

.btn { /* uređenje gumba za hipervezu u boxu */
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: royalblue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 90px;
}

.btn:hover { /* potamni tipku kad se pređe mišem */
    background-color: darkblue;
}

@media (max-width: 1050px) {
    .usluga-usluga {
        flex-direction: column; /* Slika, podnaslov, paragraf i btn prebacuje u stupac na manjim ekranima */
        align-items: center;
        text-align: center; /* Centriranje teksta */
    }

    .usluga-usluga-img {
        margin-right: 0; /* Uklanja razmak između slike i teksta */
        margin-bottom: 10px; /* Dodaje razmak ispod slike */
    }
}
@media (max-width: 650px) {
    .usluga-usluga {
        flex: 1 1 100%; /* 1 box u jednom redu */
        max-width: 100%;
    }
}


/* ------------------------------- O NAMA ------------------------------------ */


#o-nama-opis { /* sekcija za tekst i sliku o nama */
    display: flex;
    flex-direction: column; /* elementi sekcije u stupcu */
    align-items: center; /* vertikalno centriranje elemenata */
    justify-content: center; /* razmak između elemenata */
    padding: 100px;
}

.o-nama-naslov { /* uređenje naslova o nama */
    font-size: 3rem;
    color: royalblue;
}

.o-nama-sadrzaj { /* pozicija teksta o nama */
    display: flex;
    flex-direction: row; /* Postavlja tekst i sliku u red */
    align-items: center; /* Vertikalno centriranje elemenata */
}

.o-nama-tekst { /* izgled teksta o nama */
    flex: 1;
    margin-right: 100px;
    font-size: 1.2rem;
    color: navy;
}

.o-nama-kolege { /* slika kolegi */
    width: 300px;
    height: auto;
    margin-right: 50px;
    border-radius: 50px;
}

#o-nama-partneri { /* sekcija partneri */
    display: flex;
    flex-direction: column; /* postavlja elemente sekcije u stupac */
    align-items: center; /* vertikalno centriranje elemenata */
    justify-content: center; /* razmak između elemenata */
    margin-left: 100px;
}

.o-nama-sadrzaj-partneri { /* pozicija teksta partnera */
    display: flex;
    flex-direction: column; /* tekst i slika u redu */
    align-items: center;
}

.o-nama-partneri-slika{ /* uređenje slike sa partnerima */
    width: 1500px;
    height: auto;
    align-items: center;
}

@media (max-width: 1400px) { /* media query za manje zaslone za sekciju o partnerima */
    #o-nama-partneri {
        flex-direction: column; /* postavlja elemente u stupac */
        text-align: center;
        margin-left: 0;
    }
    
    .o-nama-sadrzaj-partneri {
        flex-direction: column; /* postavlja tekst i sliku u stupac */
        max-width: 600px; /* maks širina paragrafa */
        padding: 0 20px;
    }

    .o-nama-partneri-slika {
        width: 100%;
    }

    .o-nama-sadrzaj {
        flex-direction: column;
        max-width: 600px;
        padding: 0 20px;
    }
}

@media (max-width: 1000px) {
    #o-nama-opis {
        flex-direction: column;
        text-align: center;
    }

    .o-nama-sadrzaj {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .o-nama-tekst {
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 1.5rem;
        text-align: center;
    }

    .o-nama-kolege {
        width: 100%;
        max-width: 300px;
        margin-right: 0;
    }
}

@media (max-width: 800px) {
    .o-nama-tekst {
        font-size: 1.2rem;
    }

    .o-nama-sadrzaj {
        padding: 10px;
    }
}

@media (max-width: 500px) {

    .o-nama-naslov{
        font-size: 2rem;
    }

    .o-nama-tekst {
        font-size: 1rem;
        padding: 0;
        text-align: center;
    }

    .o-nama-sadrzaj {
        padding: 0px;
    }
}


/* ------------------------------- KONTAKT ------------------------------------ */


#kontaktirajte-nas {  /* sekcija za kontakt informacije */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.podrska-teta-slika{  /* slika tetke */
    width: 400px;
    height: auto;
    align-items: center;
    border-radius: 50px;
}

#karta-sekcija{  /* oblik i veličine sekcije za kartu */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}

#karta{  /* veličine i okvir karte */
    width: 60%;
    height: 100%;
    border: 5px solid royalblue;
}

#javite-nam-se{  /* sekcija za obrazce */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.javite-nam-se-naslov {  /* uređenje naslova iznad obrazaca */
    font-size: 3rem;
    color: royalblue;
    margin-top: 0px;
    margin-bottom: 0px;
}

#obrazac {  /* postavljanje polja obrazaca */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    color: navy;
}

#obrazac label {  /* izgled labele */
    font-size: 1.4rem;
    margin-bottom: 5px;
}

#obrazac input,
#obrazac textarea {  /* postavke polja za unošenje podataka */
    width: 20%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid navy;
    border-radius: 5px;
}

#obrazac button {  /* tipka za poslati poruku */
    padding: 10px 20px;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: grey 0 4px 8px;
}

#obrazac button:hover {  /* tamnija tipka kad se pređe mišem */
    background-color: darkblue;
}

@media (max-width: 1000px) { /* media query za manje zaslone za cijelu stranicu kontakt */
    #kontaktirajte-nas {
        padding: 50px;
    }

    .podrska-teta-slika {
        width: 300px;
        height: auto;
    }

    #karta-sekcija {
        height: 400px;
    }

    #karta {
        width: 80%;
        height: 100%;
    }

    #javite-nam-se {
        padding: 30px;
    }

    .javite-nam-se-naslov {
        font-size: 2rem;
    }

    #obrazac {
        width: 30%;
    }

    #obrazac input,
    #obrazac textarea {
        width: 80%;
    }

    #obrazac label {
        font-size: 1.2rem;
    }
}


@media (max-width: 780px) {
    #kontaktirajte-nas {
        padding: 30px;
    }

    .podrska-teta-slika {
        width: 250px;
        height: auto;
    }

    #karta-sekcija {
        height: 300px;
    }

    #karta {
        width: 90%;
        height: 100%;
    }

    #javite-nam-se {
        padding: 50px;
    }

    .javite-nam-se-naslov {
        font-size: 2.5rem;
    }

    #obrazac {
        width: 40%;
    }

    #obrazac input,
    #obrazac textarea {
        width: 90%;
    }

    #obrazac label {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    #kontaktirajte-nas {
        padding: 20px;
    }

    .podrska-teta-slika {
        width: 200px;
        height: auto;
    }

    #karta-sekcija {
        height: 200px;
    }

    #karta {
        width: 80%;
        height: 100%;
    }

    #javite-nam-se {
        padding: 30px;
    }

    .javite-nam-se-naslov {
        font-size: 2rem;
    }

    #obrazac {
        width: 100%;
    }

    #obrazac input,
    #obrazac textarea {
        width: 30%;
    }

    #obrazac label {
        font-size: 0.8rem;
    }
}

/* ------------------------------- STRANICE ZA USLUGE ------------------------------------ */

.center-text-usluga {  /* naslov za uslugu */
    text-align: center;
    color: royalblue;
    text-shadow: 1px 1px 1px darkgrey;
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 0px;
}

.usluge-lista-posebno { /* tekst opisa za uslugu */
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.opis-usluge { /* box za opis usluge */
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    max-width: calc(90% - 20px);
    min-width: 200px;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
    text-align: left;
    color: royalblue;
    font-size: 1.4rem;
}

.slika-usluge{ /* slika usluge */
    width: 300px;
    height: auto;
}

.razmak-paragrafa{ /* razmak paragrafa u opisu usluge */
    margin-bottom: 70px;
}

.btn-sidra{ /* tipka za sidra */
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: royalblue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: auto;
}

.btn-sidra:hover {
    background-color: darkblue;
}

.sidro { /* sekcija za sidra */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.sidro-opis { /* opis boxa za stavku usluge */
    display: flex;
    flex-direction: column;
    min-width: 200px;
    box-sizing: border-box;
    padding: 30px;
    margin: 20px;
    max-width: 80%;
    text-align: left;
    background-color: royalblue; 
    color: white;
    font-style: bold;
    font-size: 1.2rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px grey;
}

.tablica td { /* uređena tablica da se ubaci natuknica */
    position: relative;
    padding-left: 15px;
    width: 50%;
}

.tablica td::before { /* uređenje natuknice u tablici */
    content: "•";
    position: absolute;
    left: 0;
    color: white;
    font-size: 1.3rem;
    line-height: 1;
}

@media (max-width: 1000px) { /* media query za manje zaslone za usluge */
    .opis-usluge {
        flex-direction: column;
        text-align: center;
    }
    .slika-usluge{
        max-width: 300px;
        margin: 0 auto;
        display: block;
    }
}

@media (max-width: 1000px) {
    .sidro {
        flex-direction: column;
        padding: 20px;
    }
    .sidro-opis {
        max-width: 90%;
        padding: 20px;
        font-size: 1rem;
    }
}

@media (max-width: 800px) {
    .sidro {
        padding: 10px;
    }
    .sidro-opis {
        max-width: 100%;
        padding: 10px;
        font-size: 0.9rem;
    }
}

@media (max-width: 500px) {
    .sidro {
        padding: 5px;
    }
    .sidro-opis {
        max-width: 100%;
        padding: 5px;
        font-size: 0.8rem;
    }
}
